if SHIELD_CORNE_93_LEFT

config ZMK_KEYBOARD_NAME
    default "corne_93"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CORNE_93_LEFT

if SHIELD_CORNE_93_LEFT || SHIELD_CORNE_93_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_93_LEFT || SHIELD_CORNE_93_RIGHT
